/* FONTS  */
@font-face {
  font-family: "poppins";
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "poppins";
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
}

/* FONTS END */
* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  /* outline: 2px dotted orange; */
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  max-width: 1400px;
  padding: 50px 140px;
}

nav {
  height: 78px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

nav > div {
  width: 30%;
}

ul {
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 350px;
}

li {
  /* font-family: Poppins; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
a {
  text-decoration: none;
  color: #2f281e;
}

header > section {
  display: flex;
  width: 100%;
}

.header__block-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__block-left > * {
  margin-bottom: 40px;
}

.header__block-left > h1 {
  color: #2f281e;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}
.header__block-left > p {
  color: #544837;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  max-width: 458px; /* 155.556% */
}
.whiteBtn {
  background-color: #fff;
  margin-right: 15px;
  color: #173a56;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
}

.orangeBtn {
  background-color: #ff9900;
  color: white;
  border: none;
}

.btn {
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 25px;
}

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features__heading {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.features__feature_blocks {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.features__feature_blocks > div {
  max-width: 240px;
  /* outline: 1px solid black; */
  margin-right: 46px;
  margin-bottom: 20px;
}
.features__feature_blocks > div:last-child {
  margin-right: 0;
}

.features__feature_blocks > div > h1 {
  color: #2f281e;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.features__feature_blocks > div > p {
  color: #544837;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.featureIcon {
  margin-bottom: 30px;
}
.img1 {
  max-width: 520px;
}
.features-block {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.features-block__description {
  max-width: 486px;
}
.heading {
  margin-bottom: 12px;
}
.features-block__heading {
  margin-top: 20px;
}
.features-block__description {
  /* margin-bottom: 30px; */
}

h2 {
  margin-bottom: 20px;
  color: #2f281e;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.features-block__text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.features-block__text-wrapper > img {
  margin-right: 30px;
  height: 35px;
  width: 35px;
}

/* FOOTER START */
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 100p;
  margin-top: 100px;
  border-top: 1px solid rgba(188, 208, 229, 0.5);
}

.footer__block {
  display: flex;
  flex-direction: column;
  width: 25%;
  color: #544837;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 218.75% */
}

.footer__block > ul {
  display: flex;
  flex-direction: column;
}

.footer__block--logo > img {
  width: 142.348px;
  height: 28.973px;
  flex-shrink: 0;
}
input[type="email"] {
  width: 325px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background: #fff;
  padding: 5px;
  font-size: 25px;
}
input[type="submit"] {
  margin-top: 20px;
  width: 131px;
  height: 39px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 4px;
  background: #f90;
  border: none;
}
